@use './reset.scss' as *;
@use 'element-plus/theme-chalk/src/mixins/function.scss' as *;
@use './variables.scss' as *;

* {
  outline: none;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  line-height: 1.5;
}